.main {
  margin-left: 250px;
}

#landing-title {
  font-family: sans-serif;
  font-size: 80px;
}

.side-nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 130px;
}

.uk-navbar-right {
  margin-right: 100px;
}

.uk-navbar-left {
  margin-left: 50px;
}

.chat-container {
  position: fixed;
  padding-bottom: 0;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
}

.chat-box {
  overflow-y: scroll;
  max-height: 400px;
}

.chat-messages {
  height: 75%;
}

.chat-user {
  font-size: 20px;
}

.chat-top {
  margin: 2%;
}

.chat-top-padding {
  padding: 5px;
  border-radius: 5px 5px 0 0;
}

.show-chat {
  position: fixed;
  bottom: 0;
  right: 0;
}
