<article class="new-page">
	<section class="new-form-page uk-container">
		<div class="form-heading uk-margin">
			<legend class="uk-legend uk-margin-top">Create Your Group</legend>
		</div>
		<div class="form-section">
			<form class="new-group-form uk-form-stacked">
				<div class="group-title-section uk-margin">
					<label for="group-title form-stacked-text" class="uk-form-label">Group
						Name</label>
					<input
						class="uk-input"
						type="text"
						id="group-title"
						name="group-title"
					/>
				</div>
				<div class="group-info uk-margin">
					<label for="group-info form-stacked-text" class="uk-form-label">Group
						Info</label>
					<textarea
						class="entry-field uk-textarea"
						id="group-info"
						name="group-info"
					></textarea>
				</div>
				<button
					type="submit"
					class="btn uk-button uk-button-default"
				>Create</button>
				<a href="/dashboard" class="go-back uk-button uk-button-primary">
					&larr; Back to dashboard</a>
			</form>
		</div>
	</section>
</article>

<script src="/js/create-group.js"></script>