<button
    type='submit'
    class='btn uk-button uk-button-primary uk-margin-bottom'
    id='create-new-post'
  >+ Create new post</button>

{{#if posts.length}}
  <section>
    <legend class='uk-legend uk-margin'>Dashboard</legend>

    <ul class='post-list uk-list'>
      {{#each posts as |post|}}
        <li class='uk-card uk-card-body uk-card-default'>
          {{> post-info post}}
          <a
            href='/dashboard/edit/{{post.id}}'
            class='edit-link uk-button uk-button-danger'
          >edit post</a>
        </li>



      {{/each}}
    </ul>
  </section>
{{/if}}

<script src='/js/create-post.js'></script>

<div>
      <!--SIDENAV SECTION-->
      <div
        class="
          uk-card
          uk-box-shadow-hover-small
          uk-light
          uk-background-secondary
          uk-padding
          uk-card-body
          uk-width-1-6@s
          side-nav
        "
      >
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
          <li class="uk-active"><a href="#">Active</a></li>
          <li class="uk-parent">
            <a href="#">Parent</a>
            <ul class="uk-nav-sub">
              <li><a href="#">Sub item</a></li>
              <li><a href="#">Sub item</a></li>
            </ul>
          </li>
          <li class="uk-parent">
            <a href="#">Parent</a>
            <ul class="uk-nav-sub">
              <li><a href="#">Sub item</a></li>
              <li><a href="#">Sub item</a></li>
            </ul>
          </li>
          <li class="uk-nav-header">Header</li>
          <li>
            <a href="#"
              ><span class="uk-margin-small-right" uk-icon="icon: table"></span>
              Item</a
            >
          </li>
          <li>
            <a href="#"
              ><span
                class="uk-margin-small-right"
                uk-icon="icon: thumbnails"
              ></span>
              Item</a
            >
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a href="#"
              ><span class="uk-margin-small-right" uk-icon="icon: trash"></span>
              Item</a
            >
          </li>
        </ul>
      </div>
      <!--POSTS SECTION-->
      <div class="main">
        <div>
          <h1 class="uk-heading-line uk-margin-top"><span>Posts</span></h1>
          <div>
            <div class="uk-card uk-margin uk-margin-bottom uk-card-body">
              <h3 class="uk-card-title">Post 1</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="uk-button uk-button-primary">Comment</button>
            </div>
          </div>
          <div>
            <div
              class="
                uk-card uk-margin uk-margin-bottom uk-card-primary uk-card-body
              "
            >
              <h3 class="uk-card-title">Post 2</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="uk-button uk-button-primary">Comment</button>
            </div>
          </div>
          <div>
            <div
              class="
                uk-card uk-margin uk-margin-bottom uk-card-default uk-card-body
              "
            >
              <h3 class="uk-card-title">Post 3</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="uk-button uk-button-primary">Comment</button>
            </div>
          </div>
          <div>
            <div
              class="
                uk-card uk-margin uk-margin-bottom uk-card-default uk-card-body
              "
            >
              <h3 class="uk-card-title">Post 4</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <button class="uk-button uk-button-primary">Comment</button>
            </div>
          </div>
        </div>

        <!--CHATBOX SECTION-->
        <div class="uk-card uk-card-default uk-card-body chat-box">
          <div class="chat-popup" id="myForm"></div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js"></script>