

{{#if posts.length}}
  <section>
    <legend class='uk-legend uk-margin'>Dashboard</legend>

    <ul class='post-list uk-list'>
      {{#each posts as |post|}}
        <li class='uk-card uk-card-body uk-card-default'>
          {{> post-info post}}
          <a
            href='/dashboard/edit/{{post.id}}'
            class='edit-link uk-button uk-button-danger'
          >edit post</a>
        </li>



      {{/each}}
    </ul>
  </section>
{{/if}}

<script src='/js/create-post.js'></script>
<link rel="stylesheet" href="../public/css/styles.css"/>


<div
        class="
          uk-card
          uk-box-shadow-hover-small
          uk-light
          uk-background-secondary
          uk-padding
          uk-card-body
          uk-width-1-6@s
          side-nav
        "
      >
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
          <li class="uk-active"><a href="#">Active</a></li>
          <li class="uk-parent">
            <a href="#">Parent</a>
            <ul class="uk-nav-sub">
              <li><a href="#">Sub item</a></li>
              <li><a href="#">Sub item</a></li>
            </ul>
          </li>
          <li class="uk-parent">
            <a href="#">Parent</a>
            <ul class="uk-nav-sub">
              <li><a href="#">Sub item</a></li>
              <li><a href="#">Sub item</a></li>
            </ul>
          </li>
          <li class="uk-nav-header">Header</li>
          <li>
            <a href="#"
              ><span class="uk-margin-small-right" uk-icon="icon: table"></span>
              Item</a
            >
          </li>
          <li>
            <a href="#"
              ><span
                class="uk-margin-small-right"
                uk-icon="icon: thumbnails"
              ></span>
              Item</a
            >
          </li>
          <li class="uk-nav-divider"></li>
          <li>
            <a href="#"
              ><span class="uk-margin-small-right" uk-icon="icon: trash"></span>
              Item</a
            >
          </li>
        </ul>
      </div>

        <!--CHATBOX SECTION-->
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js"></script>