{{#if groups.length}}
  <section class='post-margin'>
    <legend class='uk-legend uk-margin-top uk-text-bold'>GROUPS</legend>

    <ul class='post-list uk-list'>
      {{#each groups as |group|}}
        <li class='uk-card uk-card-body uk-card-secondary'>
          {{>group-info group}}
          <a
            href='/group/{{group.id}}'
            class=' group-button uk-button uk-button-danger uk-align-right'
          >view group</a>
        </li>

      {{/each}}
    </ul>
  </section>
{{/if}}

<div
  class='uk-card uk-box-shadow-hover-small uk-light uk-background-secondary uk-padding uk-card-body uk-width-1-6@s side-nav'
>
  <ul class='uk-nav-default uk-nav-parent-icon' uk-nav>
    <li class='uk-parent'>
      <a href='#'><span
          class='uk-margin-small-right'
          uk-icon='icon: users'
        ></span>My Groups</a>
      <ul class='uk-nav-sub'>
        <li><a href='#'>Group 1</a></li>
        <li><a href='#'>Group 2</a></li>
      </ul>
    </li>

    <li>
      <a href='#'><span
          class='uk-margin-small-right'
          uk-icon='icon: mail'
        ></span>
        My Posts</a>
    </li>
    <li class='uk-nav-divider'></li>
    <li>
      <a href='/group/new'><span
          class='uk-margin-small-right'
          uk-icon='icon: plus'
          id='create-new-group'
        ></span>
        Create Group</a>
    </li>
    <li class='uk-nav-divider'></li>
    <li>
    <a href='#'><span
          class='uk-margin-small-right'
          uk-icon='icon: users'
        ></span>Welcome, {{user.username}}</a> <!-- USER NOT DISPLAYING -->
</li>
  </ul>
</div>

<script
  src='https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js'
></script>
<script
  src='https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js'
></script>