<section class='uk-container'>
<div class='uk-margin-top'>
{{>post-info post}}
</div>

{{#if loggedIn}}
  <form class='comment-form'>
    <div clasws='uk-margin'>
      <textarea class='uk-textarea' name='comment-body'></textarea>
    </div>

    <div class='uk-margin-top'>
      <button class='uk-button uk-button-default' type='submit'>add comment</button>
      <a href='/dashboard' class='go-back uk-button uk-button-primary'>
        &larr; Back to dashboard</a>
    </div>
  </form>
{{/if}}

<div>
  {{>comments post.comments}}
</div>

</section>

{{#if loggedIn}}
  <script src='/js/comment.js'></script>
{{/if}}