<div class='uk-position-relative'>
  <div
    class='uk-light uk-padding-large uk-height-1-1'
    style="background-image: url('images/test.jpg')"
  >
    <div class='uk-position-middle'>
      <h1
        class='uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical uk-text-bolder uk-text-muted uk-padding-large'
        id='landing-title'
      >
        FIND YOUR CLIQUE
      </h1>
      <div class='form-section uk-container'>
        <form class='login-form uk-form-stacked'>
          <div class='uk-margin'>
            <label
              class='uk-form-label'
              for='form-stacked-text username-login'
            >Username</label>
            <input
              type='text'
              class='entry-field uk-input'
              id='username-login'
            />
          </div>
          <div class='uk-margin'>
            <label
              class='uk-form-label'
              for='form-stacked-text password-login'
            >Password</label>
            <input
              type='password'
              class='entry-field uk-input'
              id='password-login'
            />
          </div>
          <div>
            <button
              type='submit'
              class='uk-button uk-button-default login-signup-btn'
            >Log In!</button>
            <a class='uk-button uk-button-default' href='/signup'>Or Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script
  src='https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit.min.js'
></script>
<script
  src='https://cdn.jsdelivr.net/npm/uikit@3.8.0/dist/js/uikit-icons.min.js'
></script>